
    section {
        width: 1500px;
        height: 1200px;
        border: 1px solid blue;
        margin: 0 auto;


    }

    img { height: 250px; padding: 20px; transition: .3s;  }

    img:hover { filter: brightness(80%); cursor: pointer; }

    div {
        display: flex;
        flex-wrap: wrap;
      padding: 20px;

    }

